<!-- header.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>File Uploader</title>
    <link href="/tailwind.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <header class="bg-blue-600 text-white p-4">
      <nav class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">File Uploader</h1>
        <ul class="flex space-x-4">
          <% if(!locals.user) {%>
          <li><a href="/signup" class="hover:underline">Sign Up</a></li>
          <li><a href="/" class="hover:underline">Log In</a></li>
          <% } %> <% if(locals.user) {%>
          <li><a href="/" class="hover:underline">Home</a></li>
          <li><a href="/upload" class="hover:underline">Upload</a></li>
          <li>
            <a href="/newfolder" class="hover:underline">Create Folder</a>
          </li>
          <li><a href="/logout" class="hover:underline">Log Out</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
  </body>
</html>
